:root {
  --main-font-family: "Bellefair", serif;
  --secondary-font-family: "Space Mono", monospace;
  --tertiary-font-family: "Poppins", sans-serif;
  --brand-background-color: #f9f7fe;
}

body {
  font-family: var(--main-font-family);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}

h1.hero {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 250px auto;
  text-align: center;
  color: black;
}

.name {
  color: #c6c3c3;
}

.navbar {
  background-color: white;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
}

.mx-auto {
  margin-top: 150px;
}

.art-project {
  margin-bottom: 100px;
}

h2.art-project-title {
  font-family: var(--main-font-family);
  font-size: 64px;
  line-height: 73.34px;
  font-weight: 400;
}

h3.art-project-summary {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.art-project-image {
  max-width: 600px;
  border-radius: 4px;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
